TechCorp.Supervisory.Control/Service References/Supervisory.WS/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PressButtonRele">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PressButtonReleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PressButtonReleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusSwitch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatusSwitchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStatusSwitchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>